.intro__text-info_list {
    list-style-type: none;
    font-size: 0.75rem;
    line-height: 158%;
}

@media screen and (max-width: 768px) {
    .intro__text-info_list {
    margin-left: 24px;
    }
}


@media screen and (max-width: 415px) {
    .intro__text-info_list {
    margin-left: 0px;
    }
}