.comments__container_comment-quote {
    font-size: 0.875rem;
    line-height: 164%;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 42px;
}



@media screen and (max-width: 768px) {
    .comments__container_comment-quote {
        font-size: 1rem;
        line-height: 144%;
        width: 100%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 415px) {
    .comments__container_comment-quote {
        margin-top: 24px;
    }
}