@import url('__text-author/intro__text-author.css');
@import url('__text-bold/inrto__text-bold.css');

.intro__text-container {
    margin-left: 18px;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .intro__text-container {
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 375px) {
    .intro__text-container {
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text-container {
        margin-left: 0px;
        margin-top: 0px;
    }
}