.place__image-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-top: 60px;
    margin-left: 148px;
    margin-right: 148px;
}

@media screen and (max-width: 1024px) {
    .place__image-container {
        margin-left: 48px;
        margin-right: 48px;
    } 
}

@media screen and (max-width: 768px) {
    .place__image-container {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        margin-left: 24px;
        margin-right: 24px;
    } 
}

@media screen and (max-width: 415px) {
    .place__image-container {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin-top: 32px;
    } 
}

@media screen and (max-width: 320px) {
    .place__image-container {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin-left: 0px;
        margin-right: 0px;
    } 
}