.comments__container_comment-auther {
    margin-top: 24px;
    font-size: clac(14/16rem);
    line-height: 164%;
    text-align: left;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .comments__container_comment-auther {
        text-align: center;
    }
}   

@media screen and (max-width: 415px) {
    .comments__container_comment-auther {
        margin-top: 16px;
    }
}