.footer__copyright {
    display: table-cell;
    /* text-align: center; */
    font-size: 0.875rem;
    line-height: 143%;
    vertical-align: middle; 
    /* margin-right: 48px;
    margin-bottom: 48px; */
}