.cover__subtitle {
    position: relative;
     width: 35%;
    font-size: 1.125rem;
    line-height: 144%;
    text-align: center;
    bottom: 200px;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        font-size: 1.0625rem;
        line-height: 121%; 
        width: 45%;
        bottom: 170px;
    }
}

@media screen and (max-width: 375px) {
    .cover__subtitle {
        font-size: 0.875rem;
        width: 75%;
        bottom: 134px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 0.875rem;
        width: 85%;
        bottom: 125px;
    }
}