@import url('./_comment/comments__container_comment.css');
@import url('./_comment-auther/comments__container_comment-auther.css');
@import url('./_comment-quote/comments__container_comment-quote.css');
@import url('./_comment-photo/comments__container_comment-photo.css');
@import url('./_box/comments__container_box.css');

.comments__container {
    display: flex;
    width: calc(100% - 96px);
    flex-direction: row;
    margin-top: 36px;
    margin-left: 48px;
    margin-right: 48px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .comments__container {
        display: flex;
        width: calc(100% - 386px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 415px) {
    .comments__container {
        display: flex;
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 0px;
    }
}
