.header__logo {
    margin-left: 48px;
    margin-top: 0px;
}


@media screen and (max-width: 768px) {
    .header__logo {
        margin-left: 24px;
    }
}

@media screen and (max-width: 375px) {
    .header__logo {
        margin-left: 16px;
    }
}

