@import url('../../blocks/header/__logo/header__logo.css');
@import url('../../blocks/header/__lang-containe/header__lang-containe.css');
@import url('../../blocks/header/header__lang/header__lang.css');
@import url('../../blocks/en/en.css');

.header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 375px) {
    .header {
        padding-top: 16px;
    }
}
