.place__paragraph {
    margin-top: 0px;
    margin-bottom: 36px;
    font-size: 1.125rem;
    line-height: 167%;
}

@media screen and (max-width: 1023px) and (min-width: 321px) {
    .place__paragraph {
        font-size: 0.75rem;
        line-height: 169%;
    } 
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 1rem;
        line-height: 169%;
    } 
}

@media screen and (max-width: 415px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 24px;
        margin-bottom: 0px;
    } 
}