.barentsburg__coord {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 2.625rem;
    line-height: 145%;
}

@media screen and (max-width: 375px) {
    .barentsburg__coord {
        flex-direction: column;
        font-size: 1rem;
        line-height: 144%;
        margin-left: 16px;
        margin-right: 16px;
    }    
}