.place__website {
    display: flex;
    flex-direction: column; 
    width: 50%;
    margin-left: 40px;
}

/* @media screen and (max-width: 1024px) {
    .place__website {
        margin-left: 0px;
    } 
} */

@media screen and (max-width: 768px) {
    .place__website {
        margin-left: 28px;
    } 
}

@media screen and (max-width: 415px) {
    .place__website {
        margin-left: 0px;
        margin-top: 16px;
    } 
}