@import url('./_item/emblems__items_item.css');

.emblems__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;   
    margin-top: 82px;
    grid-column-gap: 40px;
    justify-content: space-between;
    width: calc(100% - 96px);
    margin-left: 48px;
    margin-right: 48px;

}

@media screen and (max-width: 1024px) {
    .emblems__items {
    width: calc(100% - 76px);
    grid-column-gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .emblems__items {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2;
        grid-column-gap: 70px;
        grid-row-gap: 57px;
    }
}

@media screen and (max-width: 375px) {
    .emblems__items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 5;
        margin-left: 36px;
        margin-right: 36px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 320px) {
    .emblems__items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 5;
    }
}