.video__container-item_button {
position: absolute;
top: 30px;
left: 30px;
}

@media screen and (max-width:768px) {
    .video__container-item_button {
        left: 24px;
        top: 24px;
    }
}

@media screen and (max-width:320px) {
    .video__container-item_button {
        left: 16px;
        top: 16px;
    }
}