@import url('./vendor/normalize.css');
@import url('./blocks/header/header.css');
@import url('./blocks/lead/lead.css');
@import url('./blocks/intro/intro.css');
@import url('./blocks/content-title/content-title.css');
@import url('./blocks/content-subtitle/content-subtitle.css');
@import url('./blocks/photo-grid/photo-grid.css');
@import url('./blocks/places/places.css');
@import url('./blocks/video/video.css');
@import url('./blocks/additional/additional.css');
@import url('./blocks/comments/comments.css');
@import url('./blocks/cover/cover.css');
@import url('./blocks/emblem/emblem.css');
@import url('./blocks/barentsburg/barentsburg.css');
@import url('./blocks/footer/footer.css');

@font-face {
    src: url('./vendor/fonts/Inter/Inter-Regular.woff') format('woff'), 
         url('./vendor/fonts/Inter/Inter-Regular.woff2') format('woff2');
    font-family: 'Inter';
}

@font-face {
    src: url('./vendor/fonts/Inter/Inter-Bold.woff') format('woff'), 
         url('./vendor/fonts/Inter/Inter-Bold.woff2') format('woff2');
    font-family: 'Inter';
    font-weight: bold;
}

@font-face {
    src: url('./vendor/fonts/Inter/Inter-Italic.woff') format('woff'), 
         url('./vendor/fonts/Inter/Inter-Italic.woff2') format('woff2');
    font-family: 'Inter';
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

img { 
    max-width: 100%;
}

body {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #2A2C2F;
    color: #ffffff;
    margin: auto;
    font-family: 'Inter';
    overflow-x: hidden;
}

.page {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

a {
    color: #ffffff;
}

a:hover {
    opacity: 0.7;
}


body {
    max-width: 100%;
    overflow-x: hidden;
  }