.comments__container_comment-photo {
    display: flex;
    align-self: flex-start;
    background-color: #C4C4C4;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .comments__container_comment-photo {
        margin: 0 auto;
    }
}   