.additional__container_item-title {
    font-size: 27px;
    line-height: 29px;
    margin: 18px;
    margin-top: 30px;
    text-align: left;
    z-index: 2;

}

@media screen and (max-width: 1024px) {
    .additional__container_item-title {
    font-size: 1.5rem;
    line-height: 108%;
    }
}

@media screen and (max-width: 768px) {
    .additional__container_item-title {
        font-size: 27px;
        line-height: 29px;
    }
}

@media screen and (max-width: 375px) {
    .additional__container_item-title {
    font-size: 1.5rem;
    line-height: 108%;
    }
}
