@import url('./__copyright/footer__copyright.css');
@import url('./__links/footer__links.css');

.footer {
    margin-top: 160px;
    margin-left: 48px;
    margin-bottom: 48px;
    margin-right: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
}

@media screen and (max-width: 375px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
        margin-left: 16px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin-top: 48px;
    }
}




