.barentsburg__title {
    margin-bottom: 0px;
    font-size: 2.625rem;
    line-height: 145%;
}


@media screen and (max-width: 375px) {
    .barentsburg__title {
        flex-direction: column;
        font-size: 1.5rem;
        line-height: 108%;
        margin-left: 16px;
        /* margin-right: 16px; */
    }    
}