.content-title {
    max-width: 63%;
    align-self: center;
    font-size: 4.5rem;
    line-height: 108%;
    text-align: center;
    margin-top: 102px;
    margin-bottom: 0px;
}

@media screen and (max-width:768px) {
    .content-title  {
        font-size: 2.625rem;
        line-height: 110%;
        width: 80%;
        margin-top: 102px;
    }
} 

@media screen and (max-width:375px) {
    .content-title  {
        font-size: 2rem;
        line-height: 109%;
        width: 100%;
        max-width: calc(100% - 32px);
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }
}